<!DOCTYPE html>
<html class="scroll-smooth" lang="{{ .Site.Language.LanguageCode }}">
<head>
    {{/*  icon  */}}
    <link rel="shortcut icon" href='{{ "images/favicon.ico" | relURL }}' type="image/x-icon">
    
    {{ partial "head.html" . }}
</head>
<body class="{{ if not .IsHome }}page-inner{{ end }}">
    {{ partial "google-tag-manager-noscript.html" . }}
    {{ partial "header.html" . }}
    {{ if not .IsHome }}
    <div class="h-16 lg:h-20"></div>
    {{ end }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</body>
</html>
