{{ define "main" }}
<section class="py-20 bg-white">
  <div class="container mx-auto px-6 max-w-4xl">
    <h1 class="font-primary text-3xl font-extrabold tracking-wider mb-4 simple-heading"><span>{{ .Title }}</span></h1>
    <span class="w-20 h-2 bg-black inline-block mb-8"></span>
    <div class="font-primary content-body">
      {{ .Content }}
    </div>
  </div>
</section>

<section id="cta" class="py-20 bg-background">
  <div class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-2 gap-20 items-center">
    <h3 class="font-primary uppercase text-3xl font-extrabold leading-10 tracking-wider text-white main-heading">
      Ready To Become <span>SECURE Aware</span>?
    </h3>
    <div class="space-y-7">
      <p class="font-primary text-xl leading-7 tracking-wide text-white">
        Schedule a Security Risk Assessment led by real experts. No sales pitch. Just clarity, insight, and a clear path forward.
      </p>
      <div class="flex">
        <a href="https://cal.com/secvara/pre-sra" target="_blank" class="uppercase font-primary py-2 px-4 rounded-lg bg-primary border-2 border-transparent text-white text-md mr-4 hover:bg-primary/80 transition-colors">
          Become SECURE Aware
        </a>
      </div>
    </div>
  </div>
  </section>
{{ end }}
