<svg class="text-primary {{ .class }}" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 800">
    <g stroke-width="10" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
        stroke-dasharray="6 18">
        <path
            d="M219.35491943359375 256.1195869445801Q481.35491943359375 140.11958694458008 380.35491943359375 417.1195869445801Q669.3549194335938 340.1195869445801 541.3549194335938 578.1195869445801 "
            marker-end="url(#SvgjsMarker1587)"></path>
    </g>
    <defs>
        <marker markerWidth="7" markerHeight="7" refX="3.5" refY="3.5" viewBox="0 0 7 7" orient="auto"
            id="SvgjsMarker1587">
            <polygon points="0,7 3.5,3.5 0,0 7,3.5" fill="currentColor"></polygon>
        </marker>
    </defs>
</svg>